
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="w-100 mx-auto"><img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\prolab.jpg" alt="prolab img" /></div>
    <div class="row gx-4 mx-auto align-items-center my-5">
        
        <div class="">
            <h1 class="font-weight-light">Prolab avec vous de A jusqu'à Z.</h1>
            
        </div>
    </div>
    <!-- Call to Action-->

    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">PROLAB EST UN PROGICIEL DE GESTION DE LABORATOIRE D’ANALYSES.</h2>
            <p class="m-0">Ce logiciel est doté d’une interface conviviale et ergonomique, une simple démonstration vous donnera accès à l’exploitation de base votre logiciel. Pendant l’exploitation l’utilisateur sera assisté par des contrôles adaptés lui permettant d’éviter la perte du temps et les saisies inutiles et répétitives. De la saisie des patients jusqu’au règlement, toutes les phases ont été couvertes par ProLab.</p>
        
        </div>
    
    
    </div>

    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">PROLAB EST UN PROGICIEL TOTALEMENT PARAMÉTRABLE.
        </h2>
            <p class="m-0">C’est à dire il permet la personnalisation selon les besoins et les cas d’utilisation (analyses, germes, Antiobiogramme, …) Outre l’aspect technique c’est à dire la gestion des analyses, ce logiciel intègre également des fonctionnalités de gestion très pratiques à savoir la facturation, le suivi des règlements ainsi que le suivi des dépenses.</p>
        
        </div>
    
    
    </div>
    <h2 class="text-center" style="color: blue;">LES MODULES</h2>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">
        <div class="col-md-4 mb-5">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h2 class="card-title">Prolab Automate</h2>
                    <p class="card-text">Connexion bidirectionnelle ou unidirectionnelle aux automates via ASTM ou protocole propriétaire</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Plus...</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h2 class="card-title">CQI</h2>
                    <p class="card-text">CQI Contrôle de Qualité Interne et édition des courbes</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Plus...</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h2 class="card-title">Sérothèque de Gestion des emplacements des échantillons</h2>
                    <p class="card-text">avec configuration des durées de stockage et adaptation des endroits de rangement.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Plus...</a></div>
            </div>
        </div>


        <div class="col-md-4 mb-5">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h2 class="card-title">Interface avec S.I.H</h2>
                    <p class="card-text">Echange bi-directionnel avec le Système d'Information Hospitalier (HPRIM, HL7)</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Plus...</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h2 class="card-title">Informations cliniques</h2>
                    <p class="card-text">Editeur d’informations cliniques avec contrôle de saisie.</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Plus...</a></div>
            </div>
        </div>
        <div class="col-md-4 mb-5">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h2 class="card-title">Sesamlab</h2>
                    <p class="card-text">Solution de gestion intégrée avec approvisionnement, stock, trésorerie et dépenses</p>
                </div>
                <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Plus...</a></div>
            </div>
        </div>
    </div>
</div>