<!-- Page Content -->
<div class="container-fluid">

  <div class="row">
  <h1 class="my-4 col-8">Nos Produits</h1>
  
      
  </div>
  
  <div class="justify-content-md-center">
    <!-- Catégories col-lg-3 -->
  <div class="">
      
      <div class="row">
        

        <button type="button" class="btn btn-secondary col-3" [ngClass]="sol=='prolab'?'btn-light':''"
          (click)="setSol('prolab')"
        >Gestion Laboratoire</button>

        <button type="button" class="btn btn-secondary col-3" [ngClass]="sol=='sesam'?'btn-light':''"
          (click)="setSol('sesam')"
        >Gestion d'entreprise</button>

        <button type="button" class="btn btn-secondary col-3" [ngClass]="sol=='revive'?'btn-light':''"
          (click)="setSol('revive')"
        >Revive</button>

        <button type="button" class="btn btn-secondary col-3" [ngClass]="sol=='web'?'btn-light':''"
         (click)="setSol('web')"
        >Solution Web</button>
       </div> 
    </div>
 
    <!-- Fin Catégories -->
   <!-- Liste produits col-lg-9 -->
   <div>   
     
        <button 
        class="btn btn-success float-right m-3"
         (click)="addProductToCart()"
         [disabled]="btnActive(sol)"
         >
         commander ( {{getPrice(sol)}}  DNT  )
        
        </button>

        <div [ngSwitch]="sol" class="w-100 p-3" >
          <app-prolab *ngSwitchCase="'prolab'"></app-prolab>
          <app-sesam  *ngSwitchCase="'sesam'"></app-sesam>
          <app-revive  *ngSwitchCase="'revive'"></app-revive>
          <app-web  *ngSwitchCase="'web'"></app-web>
 

        </div>
   </div>


