<div class="container">
  <div class="card shopping-cart">
    <div class="card-header bg-dark text-light">
        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
        Shipping cart - <span class="text-warning font-weight-bold">{{ factureUser }}</span>
      <a class="btn btn-outline-warning btn-sm pull-right" routerLink="/products">
        Continuez shopping
    </a>
    </div>

    <div class="card-body">
      <!-- Product -->
      <div class="row d-flex align-items-baseline text-center mb-3" *ngFor="let laptop of _cartService.ListeProductsSelected" >

      

        <div class="col-md-3">
          <h4 class="product-name"> <strong>{{ laptop.titre }}</strong> </h4>
        </div>

        <div class="col-md-3">
      </div>
      <div class="col-md-2 d-flex justify-content-between">
        <h5 class="pt-5"><strong> {{ laptop.prix }} </strong></h5>
        <h5 class="pt-5"><strong> DNT</strong></h5>
      </div>
      <div class="col-md-1">
        <button type="button" class="btn btn-outline-danger btn-xs"
          (click)="_cartService.RemoveProduct(laptop)"
        > <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <!-- Fin Product -->

    <div class="card-footer">
      <div class="pull-right m-3">
        <!-- Button trigger modal -->
        <button type="button"  class="btn btn-success pull-right ml-3" data-toggle="modal" data-target="#produitDetailsModal"
        (click)="payer()">Payer</button>
        <div class="pull-right" style="margin: 5px">
          Prox Total: <strong>{{ _cartService.PrixTotal.toFixed(2) }}DNT</strong>
        </div>
      </div>
    </div>
  </div>
</div>


