<app-carousel></app-carousel>
<div class="container marketing">
  

  <!-- Content section -->
  <section class="py-5">
    <div class="container">
      <h1>A PROPOS DE SAMA CONSULTING</h1>
      
      <p>Sama Consulting</p>
        <p class="lead">C'est une société d'ingénierie logicielle spécialisée dans le développement de solutions personnalisées.</p>
        <p>La mise en place de système d'information ainsi que le conseil et l'accompagnement du client est un notre métier. Avec plus que 10 ans d'expérience, SAMA Consulting a cumulé des compétences dans différents domaines notamment: Gestion de laboratoire, système d'information de gestion d'entreprise, développement web ...</p>
        
        
 </div>
  </section>

  <hr/>
  
</div>



