
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="w-100 mx-auto"><img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\revive.jpg" alt="revive img" /></div>
    <div class="row gx-4 mx-auto align-items-center my-5">
        
        <div class="">
            <h1 class="font-weight-light">Le meilleur accompagnement pour gagner du temps</h1>
            
        </div>
    </div>
    <!-- Call to Action-->

    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">PRÉSENTATION DU SYSTÈME
        </h2>
            <p class="m-0">REVIVE est une solution informatique multi-utilisateurs et en réseau permettant la gestion et le suivi du processus de greffe avec l'ensemble des données relatives aux receveurs et aux donneurs.
            </p>
        
        </div>
    
    
    </div>

    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">PRÉSENTATION DES MODULES
        </h2>
            <p class="m-0">Outre le module paramétrage du système qui rend la solution flexible et adaptable, nous présentons ci-dessous les principaux modules:
            </p>
        
        </div>
    
    
    </div>


    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">GESTION DU DOSSIER RECEVEUR
        </h2>
            <p class="m-0 text-left">Le dossier regroupera toutes les informations relatives au patient receveur, ces informations sont regroupées dans les catégories suivantes:

               
            </p>
            <br>
            <ul class="text-left">
                
                <li>Informations civiles et de contact.</li>
                <li>Informations cliniques.</li>
                <li>Information sur la dialyse.</li>
                <li>Historique des transplantations, transfusions et grossesses.</li>
                <li>Evolution des paramètres biologiques.</li>
                <li>Gestion de la bibliothèque des sérums (sérothèque).</li>
                <li>Typage ABO,Rh, kell, Typage HLA.</li>
                <li>Anticorps anti-HLA.</li>
            </ul>
        
        </div>
    
    
    </div>





    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">SUIVI DES ÉVÉNEMENTS IMMUNISANTS

        </h2>
            <p class="m-0 text-left">Ce module est responsable de l'historisation des événements immunisants ayant eu lieu sur le receveur, parmi ces événements nous citons:

               
            </p>
            <br>
            <ul class="text-left">
                
                <li>Les transfusions.</li>
                <li>Les transplantations antérieures.</li>
                <li>Les grossesses.</li>
                <li>Les vaccins.</li>

            </ul>
        
            <br>
            <p class="m-0 text-left">Tout événement immunisant ayant eu lieu sur le receveur est pris en considération et enregistré dans la base de données avec des éventuels sérums.</p>
        </div>
    
    
    </div>










    <h2 class="text-center" style="color: blue;">CAPTURES D'ÉCRAN DU PROGICIEL</h2>

    <div class="row">
        <div class="col">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\prolab2.png" alt="sesam img" />
        </div>
        <div class="col">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\prolab2.png" alt="sesam img" />
        </div>
        <div class="col">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\prolab2.png" alt="sesam img" />
        </div>
      </div>

