<app-full-picture-heading></app-full-picture-heading>

<div
  class="navbar navbar-expand-lg navbar-light mb-5"
  style="background-color: #ccc"
></div>

<!-- Page Content -->
<div class="container">
  <div class="d-flex flex-row justify-content-between">
    <h2 class="p-2">Liste des produits disponibles</h2>

    

  </div>
  <div class="row mt-4 table-responsive">
    <!-- Liste Produits -->
    <table class="table table-striped table-sm table-hover align-middle">
      
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
            <th scope="col">Produit</th>
            
            <th scope="col">Prix</th>
        
            <th scope="col">Prov aprés TVA</th>
            <th scope="col">disponible</th>
            <th scope="col">Toggle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let laptop of laptopsList">
          <th scope="row">{{ laptop.id }}</th>
          
          <td>{{ laptop.titre }}</td>
          
          <td>{{ laptop.prix }}</td>
          <td>{{ laptop.prix * 1.2 }}</td>
          <td>{{ laptop.disp }}</td>

          
          
          <td class="d-flex flex-row justify-content-around">
            <button
              type="button"
              class="btn btn-warning btn-sm m-1"
              (click)="toggle(laptop)"
            >
              Toggle dispo
            </button>
            
          </td>
        </tr>
      </tbody>
    </table>
    <!-- Fin Liste Produits -->
  </div>
</div>
<!-- /.container -->
