
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="w-100 mx-auto"><img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\sesam.jpg" alt="sesam img" /></div>
    <div class="row gx-4 mx-auto align-items-center my-5">
        
        <div class="">
            <h1 class="font-weight-light">Le meilleur accompagnement de votre entreprises pour gagner du temps.</h1>
            
        </div>
    </div>
    <!-- Call to Action-->

    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">SESAM est un PGI (Progiciel de gestion intégrée) ou ERP (Entreprise Resource Planning) dans une entreprise</h2>
            <p class="m-0">Le choix d'un PGI (ERP) n'est pas une tâche aussi simple et confortable pour les dirigeants, car il relève de l'avenir organisationnel et gestionnaire du secteur d'activité de l'entreprise. SESAM sera la colonne vertébrale de votre entreprise au sens large, gérant les données et processus de l'organisation depuis la gestion des clients aux fournisseurs. SESAM est une solution intégrée de gestion d’entreprise pour la coordination de l'ensemble des activités de l'entreprise. Cet outil fonctionne en réseau, multi-utilisateurs et multi-sites. Le système de saisie unique vous épargne les risques d’erreur.</p>
        
        </div>
    
    
    </div>

    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">Les principaux rôles de SESAM sont:
        </h2>
            <p class="m-0">Répondre aux attentes opérationnelles et informationnelles des responsables commerciaux, financiers et logistiques de l'entreprise. SESAM s’adresse aux entreprises opérant dans différents secteurs d’activités (santé/ carrelage et marbrerie/ services/ textile/ agro-alimentaire/ Industrie …) avec des solutions répondant au contexte particulier de chaque secteur, grâce à notre approche flexible dans la gestion de projet. Fidèles aux concepts qui ont fait notre réussite, nous mettons à votre disposition une équipe d’experts et consultants hautement qualifiée, ayant une expérience de plus de dix (10) ans, pour mieux vous conseiller, vous accompagner et assurer la fiabilité des développements réalisés. Afin d’établir avec vous une relation durable et de confiance. SAMA Consulting focalise ces efforts sur l’amélioration continue de la qualité de ces produits et de ces Services pour mieux répondre à vos exigences.</p>
        
        </div>
    
    
    </div>
    <h2 class="text-center" style="color: blue;">CAPTURES D'ÉCRAN DU PROGICIEL</h2>

    <div class="row">
        <div class="col">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\prolab2.png" alt="sesam img" />
        </div>
        <div class="col">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\prolab2.png" alt="sesam img" />
        </div>
        <div class="col">
            <img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\prolab2.png" alt="sesam img" />
        </div>
      </div>

