
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="w-100 mx-auto"><img class="img-fluid rounded mb-4 mb-lg-0" src="\assets\images\products\web.jpg" alt="web img" /></div>
    <div class="row gx-4 mx-auto align-items-center my-5">
        
        <div class="">
            <h1 class="font-weight-light">Performance fonctionnelle + Performance commerciale.</h1>
            
        </div>
    </div>
    <!-- Call to Action-->

    <div class="card text-black bg-light my-5 py-4 text-center">


        <div class="card-body"><h2 class="font-weight-light" style="color: green;">NOS RÉALISATIONS WEB.</h2>
            <p class="m-0">Notre métier est aussi de créer des applications et des sites web sur mesure qui vous garantissent à la fois une performance fonctionnelle et une performance commerciale.</p>
        
        </div>

        <div class="card-body">
         <a href="http://www.labobentaarit.com/" target="_blank"><img class="card-img-bottom" src="\assets\images\products\web1.png" alt="Card image cap">
         </a></div>

        <div class="card-body">
        <a href="http://www.labobahri.com/" target="_blank"><img class="card-img-bottom" src="\assets\images\products\web2.png" alt="Card image cap">
        </a></div>
        
        <div class="card-body">
            <a href="http://www.labojeguirim.com/" target="_blank"><img class="card-img-bottom" src="\assets\images\products\web3.png" alt="Card image cap">
        </a></div>
        

        <div class="card-body">
            <a href="http://www.labomariembahloul.com/" target="_blank"><img class="card-img-bottom" src="\assets\images\products\web4.png" alt="Card image cap">
        </a></div>

        <div class="card-body">
            <a href="http://www.labogharsallah.com/" target="_blank"><img class="card-img-bottom" src="\assets\images\products\web5.png" alt="Card image cap">
        </a></div>

    </div>


